.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #16914F;
  background-color: #16914F;
  color: #fff;
  cursor: pointer;
}

.h2 {
  color: #16914F;
}

.dashboard-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}