@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.background {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background: url('/public/Background.png') no-repeat;
  background-size: auto 100%;
  background-color: #16914F;
  position: relative;
  z-index: 1;
}

.registerContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
}

.formContainer {
  position: absolute;
  width: 20%;
  margin-right: 10%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.title {
  text-align: 'center';
  margin-bottom: 10pt;
  width: 100%;
  color: '#2E8B57';
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: bolder;
}

.form {
  display: 'flex';
  flex-direction: 'column';
}

.formGroup {
  margin-bottom: '1rem';
}

.label {
  margin-bottom: '0.5rem';
  font-weight: 'bold';
  color: '#ccc';
  margin-right: 5pt;
}

.input {
  margin-top: 2pt;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  font-weight: lighter;
}

.button {
  padding: 0.75rem;
  background-color: #297A4E;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: normal;
  font-weight: bold;
}

.links {
  text-align: center;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.link {
  color: #4CAF50;
  text-decoration: none;
}