table {
  width: 100%;
  border-collapse: separate; 
}

th, td {
  padding: 10px; 
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button.edit {
  background-color: #d9a500;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

button.edit:hover {
  background-color: #b8860b; 
}

button.delete {
  background-color: #e63946; 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

button.delete:hover {
  background-color: #c0392b; 
}

button.ver-alunos {
  background-color: blue;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

button.ver-alunos:hover {
  background-color: #6466db;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.loading p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #28a745; 
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
